.site-main {
  /*min-height: 100vh;*/
  background: grey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  padding: 20px;
  /*img{*/
  /*  max-width: 100%;*/
  /*  width: 350px;*/
  /*  height: auto;*/
  /*}*/
  /*h1 {*/
  /*  font-size: 60px;*/
  /*  color: #fed1a1;*/
  /*  user-select: none;*/
  /*}*/
  /*p{*/
  /*  color: white;*/
  /*}*/
}
